@import url("https://fonts.googleapis.com/css?family=Open+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1 {
  color: blue; }

button {
  transition: .5s ease; }

header .jumbotron {
  min-height: 90vh;
  background: url("https://static.pexels.com/photos/235994/pexels-photo-235994.jpeg") 0/cover;
  padding: 0; }
  header .jumbotron .jumbotron {
    height: 100%;
    background: rgba(22, 22, 57, 0.9); }
    header .jumbotron .jumbotron .navbar {
      background: transparent;
      margin: 0 auto;
      max-width: 70%;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 0px; }
      header .jumbotron .jumbotron .navbar .navbar-brand {
        padding-left: 0;
        color: white; }
        header .jumbotron .jumbotron .navbar .navbar-brand strong {
          color: rgba(255, 255, 255, 0.5); }

.navbar-default .navbar-nav li a {
  color: white;
  transition: color .5s ease; }
  .navbar-default .navbar-nav li a:focus {
    color: white; }
  .navbar-default .navbar-nav li a:hover {
    color: yellow; }

.navbar-default .navbar-nav li:last-child a {
  padding-right: 0px; }

.header-content {
  max-width: 60%;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0;
  font-family: 'Open Sans', sans-serif; }
  .header-content h2 {
    font-size: 55px;
    font-weight: 900; }
  .header-content p {
    margin: 40px 0; }
  .header-content button {
    border: none;
    padding: 10px 30px;
    margin-top: 20px; }

.section-content {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 50px 0; }
  .section-content i {
    color: #ff2121;
    font-size: 60px;
    padding: 20px; }
  .section-content h4 {
    font-weight: 800; }
  .section-content p {
    margin-top: 20px; }

.img1 {
  background: url("https://images.pexels.com/photos/210547/pexels-photo-210547.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") 0/cover;
  height: 200px;
  width: auto; }

.img2 {
  background: url("https://images.pexels.com/photos/271647/pexels-photo-271647.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") 0/cover;
  height: 200px;
  width: auto; }

.img3 {
  background: url("https://images.pexels.com/photos/24452/pexels-photo-24452.jpg?w=940&h=650&auto=compress&cs=tinysrgb") 0/cover;
  height: 200px;
  width: auto; }

.img4 {
  background: url("https://images.pexels.com/photos/271660/pexels-photo-271660.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") 0/cover;
  height: 200px;
  width: auto; }

.img5 {
  background: url("https://images.pexels.com/photos/276686/pexels-photo-276686.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") 0/cover;
  height: 200px;
  width: auto; }

.img6 {
  background: url("https://images.pexels.com/photos/134469/pexels-photo-134469.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") 0/cover;
  height: 200px;
  width: auto; }

.img7 {
  background: url("https://images.pexels.com/photos/115747/pexels-photo-115747.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") 0/cover;
  height: 200px;
  width: auto; }

.img8 {
  background: url("https://images.pexels.com/photos/159805/meeting-modern-room-conference-159805.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") 0/cover;
  height: 200px;
  width: auto; }

.gallery {
  margin-top: 20px; }
  .gallery * div {
    padding: 0;
    margin: 0;
    color: none; }
  .gallery .jumbotron {
    padding: 0;
    color: white; }
    .gallery .jumbotron .row div {
      border-right: 1px solid white;
      border-bottom: 1px solid white;
      cursor: pointer; }

* div[class^="back-"] {
  position: absolute;
  top: 0;
  laft: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 33, 33, 0);
  transition: .5s;
  text-align: center; }
  * div[class^="back-"] p:first-child {
    font-weight: 600;
    margin-top: 60px; }
  * div[class^="back-"] p:nth-child(2) {
    font-size: 15px; }
  * div[class^="back-"] p {
    color: rgba(255, 255, 255, 0);
    transition: .5s; }
  * div[class^="back-"]:hover {
    background: rgba(255, 33, 33, 0.8); }
    * div[class^="back-"]:hover p {
      color: white; }

.team > .section-content > .row div {
  text-align: left; }

.team > .section-content > .row h5 {
  color: #ff2121; }

.team > .section-content > .row i {
  font-size: 20px;
  color: grey;
  border: 1px solid grey;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0; }

.team > .section-content > .row .col-md-3 {
  margin-bottom: 20px; }

.slideshow > .jumbotron {
  padding: 0;
  background: #53354A; }
  .slideshow > .jumbotron div {
    padding: 0;
    margin: 0; }

.carousel-content {
  color: white; }
  .carousel-content p {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    width: 75%;
    margin: 50px; }
  .carousel-content strong {
    margin-left: 50px;
    font-size: 20px; }

.download {
  text-align: center;
  margin: 70px 0; }
  .download p {
    font-size: 25px; }
  .download strong {
    font-size: 10px; }
  .download button {
    border: none;
    padding: 10px 30px;
    margin-top: 20px; }

footer .jumbotron {
  padding: 0;
  background: #383160;
  color: white;
  margin-bottom: 0; }
  footer .jumbotron strong {
    font-size: 10px; }
  footer .jumbotron p {
    font-size: 10px;
    margin-top: 10px; }
  footer .jumbotron i {
    font-size: 20px;
    color: white;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    margin-top: 10px; }
  footer .jumbotron .col-md-4 {
    padding: 0 50px;
    margin-bottom: 20px; }

footer .jumbotron:nth-child(2) {
  background: #261f51;
  text-align: center;
  padding: 20px 0; }
  footer .jumbotron:nth-child(2) p {
    margin: 5px 0 0 0;
    color: rgba(255, 255, 255, 0.6); }
  footer .jumbotron:nth-child(2) span {
    color: white; }
  footer .jumbotron:nth-child(2) i {
    font-size: 10px;
    color: red;
    border: none;
    width: auto;
    height: auto;
    margin: 0;
    line-height: 10px; }

@media (max-width: 992px) {
  .header-content h2 {
    font-size: 40px; }
  .carousel-content p {
    margin-bottom: 30px; }
  .carousel-content strong {
    display: block;
    margin-bottom: 20px; } }

/*# sourceMappingURL=project.css.map */