.tech-container {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 800px;
  img {
    height: 180px;
    margin: 30px;
  }
}
.technology-items {
  h1,
  h2 {
    color: #2a2727;
  }
  .aos-animate {
    hr {
      width: 350px;
    }
  }
}

/* MEDIA */
@media (max-width: 767px) {
  .technology-items {
    .aos-animate {
      hr {
        width: 350px;
      }
    }
  }
} 