@import url('https://fonts.googleapis.com/css?family=Lato');
:root {
  --spacing1: 10px;
  --spacing2: 25px;
  --spacing3: 26px;
  --spacing4: 14px;  
  --spacing5: 293px;
  --spacing6: 247px;  
  --spacing7: 105px;
  --spacing8: 102px;  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  overflow: hidden;
  width: 46000px;
  background: url("space.jpg") 0 0/cover repeat-x;
  font-family: 'Lato', sans-serif;
}
body > img {
  position: absolute;
  height: 110vh;
  width: 100px;
  left: -50px;
  top: -30px;
  box-shadow: 0 0 250px 50px yellow;
}
body > div {
  height: 100vh;
  display: flex;
  align-items: center;
}
img {
  transition: width .5s ease-in-out, height .5s ease-in-out, transform .5s ease-in-out;
  cursor: pointer;
  border-radius: 50%;
}
body div img:hover{
  transform: scale(1.2);
}
div[class^="img"]{
  width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.imgContOne {
  left: 680px;
}
.imgContTwo {
  left: 1080px;
}
.imgContThree {
  left: 1500px;
}
.imgContFour {
  left: 2280px;
}
.imgContFive {
  left: 7780px;
}
.imgContSix {
  left: 14270px;
}
.imgContSeven {
  left: 28700px;
}
.imgContEight {
  left: 44970px;
}
img.one{
  width: var(--spacing1);
  height: var(--spacing1);
  position: relative;
}
img.two{
  width: var(--spacing2);
  height: var(--spacing2); 
}
img.three{
  width: var(--spacing3);
  height: var(--spacing3); 
}
img.four{
  width: var(--spacing4);
  height: var(--spacing4); 
}
img.five{
  width: var(--spacing5);
  height: var(--spacing5); 
}
img.six{
  width: var(--spacing6) * 2;
  height: var(--spacing6); 
}
img.seven{
  width: var(--spacing7);
  height: var(--spacing7); 
}
img.eight{
  width: var(--spacing8);
  height: var(--spacing8); 
}
h1 {
  position: absolute;
  bottom: 50px;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.titleOne {
  left: 610px;
}
.titleTwo {
  left: 1030px;
}
.titleThree {
  left: 1450px;
}
.titleFour {
  left: 2240px;
}
.titleFive {
  left: 7730px;
}
.titleSix {
  left: 14220px;
}
.titleSeven {
  left: 28650px;
}
.titleEight {
  left: 44900px;
}
i.fa {
  position: fixed;
  bottom: 100px;
  color: white;
  font-size: 50px;
  cursor: pointer;
  transition: visibility 0s, opacity .5s ease-in-out;
}
i.fa.fa-angle-double-left {
  left: 25vw;
  visibility: hidden;
  opacity: 0;
}
i.fa.fa-angle-double-right {
  right: 25vw;
}