@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 30px 180px;
  background: url("./img/piano.jpg") 0 0/cover;
}
body div {
  width: 50px;
  height: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  user-select: none;
  cursor: default;
  transition: .1s ease-in;
  font-family: 'Lato', sans-serif;
  position: relative;
}
body div span {
  position: absolute;
  font-size: 20px;
  top: -40px;
  left: 15px;
}

.playing {
  text-shadow: 0 0 20px black;
  transform: scale(.9);
}

@media (max-width: 900px){
  body {
  padding: 30px 0 ;    
  }
}