@import url("https://fonts.googleapis.com/css?family=Open+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=Dosis:800");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

button {
  transition: .5s ease; }

header .jumbotron {
  font-family: 'Dosis', sans-serif;
  min-height: 100vh;
  background: url("stars.jpg") 0/cover;
  padding: 0;
  text-align: center;
  margin: 0; }
  header .jumbotron .navbar {
    background: transparent;
    display: inline-block;
    border: none;
    margin-top: 50px; }
    header .jumbotron .navbar li {
      margin: 0 20px;
      padding: 0 20px; }
    header .jumbotron .navbar a {
      font-size: 20px;
      color: white;
      transition: .5s ease; }
      header .jumbotron .navbar a:focus {
        color: white; }
      header .jumbotron .navbar a:hover {
        color: yellow; }
    header .jumbotron .navbar i {
      color: white;
      font-size: 60px; }

.header-content {
  max-width: 60%;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0 0 0;
  font-family: 'Dosis', sans-serif; }
  .header-content h2 {
    font-size: 55px;
    font-weight: 900; }
  .header-content p {
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0; }
  .header-content button {
    border: none;
    padding: 10px 30px;
    margin: 20px 0 180px 0;
    border-radius: 5px; }
  .header-content i {
    font-size: 30px;
    padding: 0 10px;
    color: white; }

.jumbotron.first {
  background: url("phone.jpeg") 0/cover;
  margin-bottom: 0; }
  .jumbotron.first .row {
    width: 100%; }

.jumbotron-content {
  margin-left: 20px; }
  .jumbotron-content h4 {
    color: #5cb85c;
    font-family: 'Dosis', sans-serif;
    font-size: 25px; }
  .jumbotron-content p {
    font-family: 'Open Sans', sans-serif;
    color: white; }
  .jumbotron-content button {
    border: none;
    padding: 10px 30px;
    margin: 20px 0;
    border-radius: 5px;
    font-family: 'Dosis', sans-serif; }

.slideshow .jumbotron-content h4 {
  margin: 50px 25px 25px; }

.slideshow .jumbotron-content p {
  color: black;
  margin: 0 25px; }

.slideshow .jumbotron-content button {
  margin: 25px; }

.slideshow > .jumbotron {
  padding: 0;
  margin: 0;
  background: white; }
  .slideshow > .jumbotron div {
    padding: 0;
    margin: 0; }

.changer {
  text-align: center; }
  .changer a {
    margin: 0 40px;
    font-size: 60px;
    color: black; }
    .changer a:hover {
      text-decoration: none; }
    .changer a:active {
      text-decoration: none; }
    .changer a:focus {
      text-decoration: none; }

.carousel-indicators {
  display: none; }

.community .jumbotron {
  margin: 0;
  text-align: center;
  padding: 60px 40px; }

.community img {
  width: 100%;
  height: auto; }

.community .row {
  width: 100%; }

.community i {
  color: #5cb85c;
  font-size: 60px; }

.community h4 {
  color: black;
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  margin-top: 25px; }

.community p {
  font-family: 'Open Sans', sans-serif;
  color: black; }

.form .jumbotron {
  font-family: 'Dosis', sans-serif;
  min-height: 100vh;
  background: url("pen.jpeg") 0/cover;
  padding: 0;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center; }
  .form .jumbotron .container {
    width: 40%; }
    .form .jumbotron .container label {
      color: white;
      font-family: 'Dosis', sans-serif;
      font-size: 25px;
      text-shadow: 0 0 10px black; }
    .form .jumbotron .container .input-group {
      margin-top: 25px; }
      .form .jumbotron .container .input-group input {
        height: 60px; }
      .form .jumbotron .container .input-group button {
        width: 60px;
        height: 60px;
        font-size: 40px;
        line-height: 40px; }

footer .jumbotron {
  padding: 40px 200px;
  background: #e7e7e7;
  color: black;
  margin-bottom: 0;
  text-align: center; }
  footer .jumbotron h3 {
    font-size: 25px;
    font-family: 'Dosis', sans-serif; }
  footer .jumbotron p {
    font-size: 15px;
    margin-top: 20px;
    text-transform: uppercase; }
  footer .jumbotron button {
    width: 170px;
    text-align: left;
    position: relative;
    margin: 20px 20px 0 0; }
    footer .jumbotron button:focus {
      outline: none; }
    footer .jumbotron button i {
      float: right;
      font-size: 30px;
      line-height: 34px;
      height: 34px;
      width: 34px;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      border: none; }
      footer .jumbotron button i:focus {
        outline: none; }

footer .jumbotron:nth-child(2) {
  background: white;
  padding: 20px 50px;
  font-family: 'Dosis', sans-serif;
  color: black;
  text-align: left;
  position: relative; }
  footer .jumbotron:nth-child(2) ul {
    list-style: none; }
    footer .jumbotron:nth-child(2) ul li {
      display: inline-block;
      padding: 0 10px; }
      footer .jumbotron:nth-child(2) ul li a {
        color: black; }
    footer .jumbotron:nth-child(2) ul li:first-child, footer .jumbotron:nth-child(2) ul li:nth-child(2) {
      border-right: 1px solid #449d44; }
  footer .jumbotron:nth-child(2) p {
    text-transform: initial;
    padding: 0 10px; }
  footer .jumbotron:nth-child(2) i {
    color: #5cb85c;
    font-size: 70px;
    position: absolute;
    top: 20px;
    right: 50px; }

@media (max-width: 767px) {
  header .jumbotron .navbar {
    margin: 0; }
  header .jumbotron .header-content {
    padding: 0; }
    header .jumbotron .header-content button {
      margin-bottom: 50px; }
    header .jumbotron .header-content .social {
      padding-bottom: 30px; }
  .jumbotron-content {
    text-align: center;
    margin: 0; }
    .jumbotron-content button {
      margin: 0; }
  .changer {
    display: none; }
  .form .jumbotron .container {
    width: 100%; }
  footer .jumbotron {
    padding: 20px; }
  footer .jumbotron:nth-child(2) ul li {
    display: block;
    margin-bottom: 10px;
    text-align: center; }
  footer .jumbotron:nth-child(2) ul li:nth-child(2), footer .jumbotron:nth-child(2) ul li:first-child {
    border-right: none; }
  footer .jumbotron:nth-child(2) i {
    display: none; }
  footer .jumbotron:nth-child(2) p {
    text-align: center; }
  .row {
    margin: 0; } }

/*# sourceMappingURL=project.css.map */